$primary-color: #880d1e;
$secondary-color: #dd2d4a;
$tertiary-color: #f26a8d;
$quaternary-color: #f49cbb;
$accent-color: #cbeef3;
$error-color: #f87171; // red-400
$success-color: #4ade80; // green-400
$neutral-color: oklch(20.5% 0 0); // neutral-900
$neutral-variant-color: oklch(55.6% 0 0); // neutral-500

$primary-text-color: white;